{# templates/about.html.twig #}
{% include "inc/header.html.twig" %}
<body>
    <section class="Doc">
        <h1>Doc för Blackjack - mvc</h1>
        <img src="{{ asset("img/kmom03.png") }}" alt="Image">
        <img src="{{ asset("img/mvc1.png") }}" alt="Image">
        <img src="{{ asset("img/mvc2.png") }}" alt="Image">
        <img src="{{ asset("img/mvcKlass.png") }}" alt="Image">
    </section>
    {% include "inc/footer.html.twig" %}
</body>