{% include "inc/header.html.twig" %}
<body>
    <section class="home">
        <h1>Welcome to MVC</h1>
        <p>Here you can play Blackjack and Poker</p>
    </section>
    {% include "inc/footer.html.twig" %}
</body>
