{% include "inc/header.html.twig" %}
<body>
    <section class="home">
        <h1>Välkmmen till min sida inom Mvc kursen!</h1>
        <img src="img/kappe.jpg" alt="Profile">
        <p>Mitt namn är Kasper Falk och är 20år gammal. Jag kommer från Halmstad och pluggat på Kattegattgymnasiet inom Teknik med inriktning IT.</p>
        <p>Jag tog ett sabbatsår efter studenten för att tjäna lite extra pengar och jobbade som lagerarbetare på Bitema Logistics i Halmstad.</p>
        <p>Intressent inom programmering kom när jag började studera på gymnasiet. De roligaste kurserna på gymnasiet inom min inriktning var webbutveckling och webbserverprogrammering. Vi lärde oss bland annat html5, css3 och JavaScript.</p>
        <p>Datorer har alltid varit hobby där spel utgjorde en stor del av min vardag när jag var mindre. Ett urval av genrer inom datorspel jag tycker om är strategi, FPS, action och MMORPG.</p>
    </section>
    {% include "inc/footer.html.twig" %}
</body>