{% include "inc/header.html.twig" %}
<body>
    <section class="home">
        <h1>Kodkvalitet</h1>
        <br>
        <h2>Introduktion</h2>
            <h3>- De fyra C:na</h3>
                <h4>Coverage</h4>
                    <p></p>
                <h4>Complexity</h4>
                    <p></p>
                <h4>Cohesion</h4>
                    <p></p>
                <h4>Coupling</h4>
                    <p></p>
        <br>
        <h2>Phpmetrics</h2>
        <p></p>
        <br>
        <h2>Scrutinizer</h2>
        <p></p>
        <br>
        <h2>Förbättringar</h2>
        <p></p>
        <br>
        <h2>Diskussion</h2>
        <p></p>
        <br>
    </section>
    {% include "inc/footer.html.twig" %}
</body>