{# templates/report.html.twig #}
{% include "inc/header.html.twig" %}
<body>
    <section class="report">
        <h1>Redovisningstexter för kursens kursmoment</h1>
        <h2>Kmom01</h2>

        <p>Minna tidigare erfarenheter av objektorientering är från kursen OOPython där vi lärde oss
        om att skapa klasser, arv med mer. Jag har även förkunskaper om objektorientering i gymnasiet
        där vi hade 2 programmeringskurser inom C++ i min inriktning.</p>

        <p>De grunderna man behöver veta om PHPs modell för klasser och objekt är att i objekt så finns
        det både mutable och immutable objekt. Med mutable objekt kan man förändra sin struktur under sin
        levnadstid medan inmutable så kan man inte ändra eller ta bort något alltså motsatsen till mutable.
        Man behöver också veta om piloperatorer som gör att man accessar ett objekts properties eller medlemmar.
        Även att alla objekt är publika om man inte inkapslar det med klasser.  </p>

        <p>Grunderna att veta om klasser är att $this är en referns till nuvarande objekt och används i klassens
        metoder för att referera de objekt som anropar metoden. Även behöver man veta om att funktioner som ligger
        som medlemmar i en klass är metoder och att properties variabler i en klass kan man kalla för medlemsvariabler.</p>

        <p>Jag uppfattar den som relativt enkelt när man har lärt sig mer om det. Det var svårt att förstå i början men
        när man fick lite mer klarheter så lättnade de till.</p>

        <p>Några delar jag känner extra intressant i artikeln ”PHP The Right Way” är MySQL extension då vi har arbetat
        med databaser i förra kursen och känner då hade varit kul att veta mer om det. Något mer som jag blev intresserade
        av är Design Patterns. Att lära sig mer om vilka design mönster som är bra att använda för att göra det både lättare
        att kunna hantera sin egen kod men också för andra utvecklare att förstå koden och hantera den när man väll ska jobba
        eller utveckla ett program med någon annan. Exceptions intresserar mig också då detta är väldigt viktigt att lyfta fram
        problem och misstag som man får när man kör sitt program. Att veta mer om detta hade varit kul då detta underlättar vad
        för misstag man gör och kan korrigera dom lättare.</p>

        <p>Mitt TIL för detta kursmoment är hur man skapar template filer såsom med twig även har jag lärt mig mer om hur man skapar Controllers.</p>

        <h2>Kmom02</h2>
        <h2>Kmom03</h2>
        <h2>Kmom04</h2>
        <h2>Kmom05</h2>
        <h2>Kmom06</h2>
        <h2>Kmom07 - Kmom10</h2>
    </section>
    {% include "inc/footer.html.twig" %}
</body>