{# templates/report.html.twig #}
{% include "inc/header.html.twig" %}
<body>
    <section class="report">
        <h1>Redovisningstexter för kursens kursmoment</h1>
        <h2>Kmom01</h2>
        <h2>Kmom02</h2>
        <h2>Kmom03</h2>
        <h2>Kmom04</h2>
        <h2>Kmom05</h2>
        <h2>Kmom06</h2>
        <h2>Kmom07 - Kmom10</h2>
    </section>
    {% include "inc/footer.html.twig" %}
</body>