{% include "inc/projheader.html.twig" %}
<body>
    <section class="project-about">
    <h1>About</h1>
    <div class="project-container">
        <div class="project-main">
            <div class="about-game">
                <h2>Projekt</h2>

                <p>Jag har vallt att göra Casino med kortspel (poker) som slutprojekt där man spelar Texas hold'em poker med stilen live casino</p>
                <p>Spelaren börjar med 1000 credits och möter dealern / banken. För att starta ett spel måste spelaren klicka på ante och autmotiskt lägger in 50 credits. Två kort dras till spelaren och tre kort till bordet medans dealerns kort är gömda</p>
                <p>Spelaren kan då välja att fortsätta spela genom att trycka på call knappen men då automatiskt lägger in 50 credits till. Om spelaren väljer att betala / calla så dras två kort till bordet till och dealern visar sina kort.</p>
                <p>Den som har högst kort på handen / bordet vinner och om båda har "High Card" regeln så är det lika och spelaren får tillbaks sina pengar</p>
                <p>Spelaren kan också välja att lägga sig och då vinner dealern spealrens bet på ante och ett nytt spel startas när spelaren betallar call igen</p>
                <p>Om spelaren vinner så får spelaren tillbaks sin call pengar på 50 credits och ante betalar gånger vad för regel spelaren får som visas i en tabell nedan.</p>
                <table>
                    <tr>
                        <th>Hand</th>
                        <th>Odds för ante</th>
                    </tr>
                    <tr>
                        <td>Royal Flush</td>
                        <td>100 mot 1</td>
                    </tr>
                    <tr>
                        <td>Färgstege</td>
                        <td>20 mot 1</td>
                    </tr>
                    <tr>
                        <td>Fyrtal</td>
                        <td>10 mot 1</td>
                    </tr>
                    <tr>
                        <td>Kåk</td>
                        <td>4 mot 1</td>
                    </tr>
                    <tr>
                        <td>Färg</td>
                        <td>3 mot 1</td>
                    </tr>
                    <tr>
                        <td>Stege</td>
                        <td>2 mot 1</td>
                    </tr>
                    <tr>
                        <td>Tre av en sort eller mindre</td>
                        <td>1 mot 1</td>
                    </tr>
                </table>
            </div>
            <div class="code-quality">
            <h2>Kod kvalitet</h2>
            <p>Jag har använt mig mycket av scrutinizer och phpstan för att kvalitetssäkra projektet och dess kodkvalitet.
            Ett exempel på detta är att mina metoder i PokerRules samt Poker klassen hade för mycket kod komplexitet som det stod både inne i scrutinizer men även i php metrics.
            Med detta tänkte jag då hur jag skulle ändra om några metoder för att göra kod komplexiteten mindre samt dela upp
            koden i fler metoder som jag kunde använda mig utav i andra metoder med men också samtidigt få mina metoder att funka så som jag vill att de ska göra. Efter att jag hade ändrat om mina metoder och delade upp koden mer gjorde att komplexiteten blev mindre för varje metod.
            Jag har dock väldigt mycket kod komplexitet för hela klassen PokerRules men behövs dessvärre vara så för att mina metoder ska funka pågrund av att
            mina regler ska funka så bra som möjligt och att inga buggar ska ske under spelets gång. Jag kollade en del inne på issues i scrutinizer med best practice och bug för ta bort de mesta som
            var onödiga eller inte tillrcäkligt definerade så att ett bugg skulle kunna ske. Även var jag inne på unusedcode för att säkertställ att jag inte tar upp ngåot minne som jag inte använder mig utav.</p>
            </div>
        </div>
        <div class="aside">
            <h2>Länkar</h2>
            <li><a href="https://www.student.bth.se/~kafa21/dbwebb-kurser/mvc/me/report/docs/phpdoc/">Länk till dokumentationen phpdoc</a></li>
            <li><a href="https://www.student.bth.se/~kafa21/dbwebb-kurser/mvc/me/report/docs/metrics/">Länk till rapporten från phpmetrics</a></li>
            <li><a href="https://github.com/FalkenDev/Mvc">Länk till ditt GitHub</a></li>
            <li><a href="https://scrutinizer-ci.com/g/FalkenDev/Mvc/">Länk till Scrutinizer</a></li>
        </div>
    </div>
    </section>
    {% include "inc/projfooter.html.twig" %}
</body>