{% include "inc/projheader.html.twig" %}
<body>
    <section class="project-home">
    <h1>Projekt laddningsida</h1>
    <li><a href="{{ path("project-about") }}">Project About sida</a></li>
    </section>
    {% include "inc/projfooter.html.twig" %}
</body>