<footer class="footer">
    <div class="footer-inner">
        <div class="footer-nav">
            <h2>Navigation</h2>
            <p>Navigate through my project pages.<p/>
            <ul>
                <li><a href="{{ path("home") }}">Home</a></li>
                <li><a href="{{ path("project-home") }}">Project Home</a></li>
                <li><a href="{{ path("project-about") }}">Project About</a></li>
                <li><a href="{{ path("poker-info") }}">Poker</a></li>
            </ul>
        </div>
        <div class="footer-socials">
            <h2>Socials</h2>
            <p>Check out my Github on this repo <a href="https://github.com/FalkenDev/Mvc">Mvc</a>.</p>
        </div>
        <div class="footer-contact">
            <h2>Contact</h2>
            <p>Feel free to contact me at any time. Either by Discord FalkenDev#8906 or you can contact me by my mail
            <span class="mail">kafa21@student.bth.se</span>.</p>
        </div>
    </div>
</footer>