/*Navbar*/

.Nav{
    display: flex;
    flex-direction: column;
    height: 130px;
    background: #FFEDCF;
}

header {
    border-bottom: 1px solid black;
}

header ul{
    order: 2;
    list-style-type: none;
    float: right;
    display: grid;
    grid-auto-flow: column;
    margin-right: 100px;
    margin-top: 34px;
    width: 300px;
    margin: auto;
}


header ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-right: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header ul li a:hover {
    color: orange;
}

.logo{
    order: 1;
    padding-top: 0px;
    margin: auto;
    padding-left: 50px;
}