{% include "inc/header.html.twig" %}
<body>
    <section class="createbook">
        <form method="POST" class="bookform">
            <label for="name">Bokens titel</label><br>
            <input type="text" name="titel" required><br>

            <label for="name">Bokens författare</label><br>
            <input type="text" name="forfattare" required><br>

            <label for="name">Bokens ISBN</label><br>
            <input type="text" name="isbn" required><br>

            <label for="name">Bokens bild url</label><br>
            <input type="text" name="urlbild" required>

            <input type="submit" value="Submit">
        </form>
    </section>
    {% include "inc/footer.html.twig" %}
</body>